# Data Science Tools and Ecosystem

## Introduction

### In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:
* Commonly Used libraries
* Create a table
* Create different markdowns

### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy 
1. Pandas 
1. Matplotlib 
1. Scikit-learn

|Data Science Tools|
| -----------------|
|  Apache Spark    |  
|   Hadoop         |
|Jupyter Notebook  |
-------------------

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
2+3

5

In [2]:
10*4

40

In [3]:
25/2

12.5

In [4]:
This a simple arithmetic expression to mutiply then add integers

<class 'SyntaxError'>: invalid syntax (<ipython-input-4-22b8db781e94>, line 1)

In [5]:
(3*4)+5

17

In [ ]:
This will convert 200 minutes to hours by diving by 60

In [12]:
200/60

3.3333333333333335

## Author
Roxana Leandra Mor√°n